.footer-wrapper {
    background-color: rgba(105, 87, 83, 0.75);
    color: #fff;
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        display: grid;
        grid-template-columns: 60% 40%;
        p {
            grid-auto-columns: 1 / 2;
            justify-self: end;
            align-self: center;
            font-display: RobotoRegular;
            margin-right: 10px;
        }
        .icon-wrapper {
            grid-auto-columns: 2 / 3;
            justify-self: start;
            align-self: center;
            .github {
                display: inline-block;
                margin-right: 10px;
                img {
                    width: 30px;
                }
            }
            .linkedin {
                display: inline-block;
                img {
                    width: 30px;
                }
            }
        }
    }
}