.footer-wrapper {
    background-color: rgba(105, 87, 83, 0.75);
    color: #fff;
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-display: RobotoRegular;
            margin-right: 10px;
        }
        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            .github {
                display: inline-block;
                margin-right: 10px;
                img {
                    display: inline-block;
                    width: 30px;
                }
            }
            .linkedin {
                display: inline-block;
                img {
                    display: inline-block;
                    width: 30px;
                }
            }
        }
    }
}