.footer-wrapper {
    background-color: #0facb2;
    color: #fff;
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-display: RobotoRegular;
            margin-right: 10px;
        }
        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            .github-wrapper {
                display: inline-block;
                border-radius: 50%;
                border: transparent;
                background-color: #0e9ca1;
                height: 30px;
                width: 30px;
                position: relative;
                overflow: hidden;
                margin-right: 5px;
                &:hover .circle {
                    opacity: 1;
                    height: 40px;
                    width: 40px;
                }
                .circle {
                    opacity: 0;
                    height: 0px;
                    width: 0px;
                    background-color: #0b7a7e;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 4;
                    transition: width .4s, height .4s, opacity .4s;
                    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
                }
                #github {
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 5;
                }
            }
            .linkedin-wrapper {
                display: inline-block;
                border-radius: 5px;
                border: transparent;
                background-color: #0e9ca1;
                height: 30px;
                width: 30px;
                position: relative;
                overflow: hidden;
                &:hover .rectangle {
                    opacity: 1;
                    height: 40px;
                    width: 40px;
                }
                .rectangle {
                    opacity: 0;
                    height: 0px;
                    width: 0px;
                    background-color: #0b7a7e;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 4;
                    transition: width .4s, height .4s, opacity .4s;
                    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
                }
                #linkedin {
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 5;
                }
            }
        }
    }
}