@import "partials/mixins";
* {
	box-sizing: border-box;
}

body .container {
	max-width: 100%;
}
body a {
	outline: none;
	letter-spacing: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body p {
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 0;
	font-family: RobotoRegular, sans-serif;
}
body h1 {
	font-family: RobotoLight, sans-serif;
	font-size: 20px;
	display: inline-block;
	color: #000;
}
body h3 {
	font-family: InterBold, sans-serif;
	font-size: 22px;
}
body h2 {
	font-family: InterExtraBold, sans-serif;
	font-size: 120px;
	font-weight: 600;
} 
body div, body p {
	font-family: RobotoLight, sans-serif;
	font-size: 18px;
}
a {
	font-family: RobotoRegular, sans-serif;
}
button {
	font-family: RobotoRegular;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

@media (min-width: 414px) {
    .container {
        width: 430px;
    }
}

@media (min-width: 479px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

#menu-wrapper {
	background-color:#695753;
	border: rgba(0,0,0,.1) 1px solid;
	box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: right;
	z-index: 999;
	transition: top 1s ease-in-out;
	.container {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 100%;
		.name {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			color: #fff;
			font-size: 40px;
			justify-self: start;
			align-self: center;
			font-family: InterExtraBold;
			padding-left: 80px;
		}
		.menu {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			justify-self: end;
			align-self: center;
			a {
				font-size: 20px;
				font-family: InterExtraBold;
				color: #fff;
				text-decoration: none;
				margin-right: 20px;
				text-transform: uppercase;
				transition: color .3s ease-in-out;
				&:hover, &:focus {
					color: #F1F1F1;
				}
			}
		}
	}
}



